---
import "../styles/global.css";
import Calculator from "@/components/calculator";
import { Image } from "astro:assets";
import mm5 from "@/../public/mm5.webp";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>mymusic5 Profit Calculator</title>
    <meta
      name="description"
      content="Calculates your projected profit this month minus the sales tax."
    />
  </head>
  <body>
    <div class="min-h-screen p-4 flex flex-col items-center gap-4">
      <Image class="size-32 aspect-auto" alt="mm5" src={mm5} />
      <Calculator client:load />
    </div>
  </body>
</html>
